@media screen and (min-width: 481px) {  /*PC向け*/
    h1 {
        position: relative;
        display: inline-block;
        margin: 1rem 0 1rem -10px;
        padding: 1rem 3rem;   
        border-radius: 0 100vh 100vh 0;
       
      }

    form {
        text-align: center;
        align-items: center;
    }
    p {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 1px;
        text-align: center;
        align-items: center;         /*中央寄せ*/
        }       
    body {
        /* width: 600px;*/   
        margin: 0 auto;
        
        background-color: #a5a5e0;
        /*padding: 0 200px 20px 20px;*/
        /*border: 5px solid black;*/
        
    }
    
    header {    
        display: flex;    
        align-items: center;
        justify-content: space-between;
        /* box-shadow: 0 3px 5px rgba(221, 209, 209, 0.22); */
        background-color: rgb(255, 255, 255);     
    }
       

    .header-title a {
        color: black;
        font-weight: bolder;
        width: 100%;
    }
    .header-title a:hover {
        text-decoration: none;   
    }
    .header-div {
        display: flex;    
        align-items: center;        
        width: 50%; 
        margin: 0 auto;
        justify-content: space-between;
        box-shadow: 0 3px 5px rgba(221, 209, 209, 0.22);
        background-color: rgb(255, 255, 255);
    } 


    main {
        width: 600px;
        margin:0 auto;
    }
    
    #firebaseui-auth-container {    
        padding: 0.5em 1em;    
        margin: 2em 0;
        color: #181a24;
        background: white;
        border-top: solid 10px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        align-items: center;
        margin-top: 100px;   
        padding: 30px;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    
}

@media screen and (max-width: 480px) { /*スマホ向け*/
    h1 {
        position: relative;
        display: inline-block;
        margin: 1rem 0 1rem -10px;
        padding: 1rem 3rem;   
        border-radius: 0 100vh 100vh 0;
       
      }
    
    form {
        text-align: center;
        align-items: center;
    }
    p {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 1px;
        text-align: center;
        align-items: center;         
        }       
    body {
        margin: 0 auto;
        background-color: #a5a5e0;
    }
    
    
    header {
        width: 100%;    
        display: flex;    
        align-items: center;
        justify-content: space-between;
        /* box-shadow: 0 3px 5px rgba(221, 209, 209, 0.22); */
        background-color: rgb(255, 255, 255);     
    }
    .header-title a {
        color: black;
        font-weight: bolder;
        width: 100%;
    }
    .header-title a:hover {
        text-decoration: none;   
    }
    .header-div {
        display: flex;    
        align-items: center;        
        width: 50%; 
        margin: 0 auto;
        justify-content: space-between;
        /* box-shadow: 0 3px 5px rgba(221, 209, 209, 0.22); */
        background-color: rgb(255, 255, 255);
    } 
    main {
        margin:0 auto;
        width: 100%;
        box-sizing: border-box;
        /* text-align: center; */
    }
    #firebaseui-auth-container {    
        padding: 0.5em 1em;    
        margin: 2em 0;
        color: #181a24;
        background: white;
        border-top: solid 10px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    
        margin-top: 100px;   
        padding: 30px;
        background-color: white;
        position: absolute;
       
         display: flex;
        justify-content: center;
        align-items: center;
        

    }
    

}
.section-tile {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.section-tile {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    background-color: white;
    border: black solid 2px;
    margin: 10px;
}