<!--ホーム画面-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- flask用パス -->
        <link rel="stylesheet" href="/static/style.css">
        <!-- ドラッグ＆ドロップ用パス -->
        <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    </head>
    <body>
        <h1>BiFB</h1>
        <p class="lead">作品を投稿しよう</p>
        <a class="btn btn-primary" href="#">ログイン</a>
    </body>
</html>