<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiFB | login</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- flask用パス -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- ドラッグ＆ドロップ用パス -->
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <!-- Firebase SDK追加 -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.8.0/firebase-ui-auth.css" />
    <!-- ここまでFirebase SDK追加 -->
</head>
<body>
    <header>
        <h1 class="header-title header-item"><a href="/">BiFB</a></h1>
        <div class="header-menu header-item">           
            <a class="btn btn-primary" href="/post">投稿</a>
            <a class="btn btn-primary" href="/login">ログイン</a>            
        </div>
    </header>

    <main>
        <!-- The surrounding HTML is left untouched by FirebaseUI.
            Your app may use that space for branding, controls and other customizations.-->
        <div id="firebaseui-auth-container"></div>
        <div id="loader">Loading...</div>
    </main>
    
    <!-- 主に使用するJS追加 -->
    <script src="/static/scripts/script.js"></script>
</body>
</html>